:root {
    --primary: #212121;
    --secondary: #343434;
    --accent: #F5A623;
    --background-color: #121212;
    --text-color: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.navbar{
    background-color: var(--primary) !important;
}

.graph-holder{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chartDonut, #chartColumns {
    width: 600px;
    background-color: var(--primary);
    margin: 15px;
    padding: 25px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#chartSpark1, #chartSpark2, #chartSpark3{
    margin: 25px;
    padding: 25px;
    width: auto;
    height: auto;
    background-color: var(--primary);
    border-radius: 15px;
}

.navbar-logo {
    padding-bottom: 0.3125rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color: var(--text-color);
    font-weight: 600;
}

.navbar-logo:hover {
    color: var(--accent);
}

.nav-inv-section{
    color: var(--text-color);
}

.nav-inv-section .divider{
    font-size: 24px;
    margin: 0px 5px;
}

.nav-inv-section .icon-desc{
    margin: 0px 5px;
}

.nav-inv-section .user-settings{
    background-image: url('../images/settings-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.nav-inv-section .user-avatar{
    background-image: url('../images/avatar.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 45px;
    width: 40px;
    height: 40px;
    margin: 0px 15px;
}

.nav-inv-section .dropdown-menu {
    background-color: var(--primary);
    color: var(--text-color);
    border: 1px solid var(--secondary);
}

.nav-inv-section .dropdown-item {
    color: var(--text-color);
}

.nav-inv-section .dropdown-item:focus,.nav-inv-section .dropdown-item:hover {
    color: var(--text-color);
    background-color: var(--accent);
}

.nav-inv-section .dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: unset !important;
}

.nav-inv-section .user-add{
    background-image: url('../images/circle-plus-icon.svg');
}

.nav-inv-section .user-join{
    background-image: url('../images/users-icon.svg');
}

.user-add,
.user-join{
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.add-btn:hover,
.join-btn:hover{
    cursor: pointer;
    pointer-events: all;
    color: var(--accent);
}

.login-form,
.register-form{
    height: 500px;
    width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 25px;
    transform: translateY(50%);
}

.entry-layout{
    height: 90vh;
}

.entry-layout .join-box,
.entry-layout .create-box{
    width: 50%;
    text-align: center;
    align-items: center;
}

.entry-layout .box-description{
    font-size: 1.5rem; 
    padding: 15px;
    width: 50%;
}

.join-box:before {
    content: "";
    position: absolute;
    left: 50%;
    height: 75%;
    width: 0;
    border-left: 2px solid var(--accent);
}

.add-expense{
    background-color: var(--secondary);
    height: 75px;
    width: 200px;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 1.5rem; 
    text-align: center;
    font-weight: 600;
}

.modal-content {
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important; 
}

.modal-header,.modal-body,.modal-footer{
    background-color: var(--secondary);
}