<div id="expenses-table">
    <div class="tabs-holder">
        <button class="switch-tab active" onclick="switchTab(1)" data-tab="1" id="load-data">Expenses</button>
        <button class="switch-tab" onclick="switchTab(2)" data-tab="2">Month planner</button>
        <button class="switch-tab" onclick="switchTab(3)" data-tab="3">Your goals</button>
        <button class="switch-tab" onclick="switchTab(4)" data-tab="4">Raports</button>
    </div>
    <div class="tab tab1 active">
      <div class="add-expense-holder" data-bs-toggle="modal" data-bs-target="#modalCenter">
        <div class="icon"></div>
        <div class="add-expense">Add Expense</div>
      </div>
      
      <ul class="expenses-list" id="expenses-list"></ul>
    </div>
    <div class="tab tab2">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab tab3"></div>
    <div class="tab tab4" id="raport_generator">
      <div class="d-flex flex-column justify-content-center align-items-center" style="gap: 25px;">
        <h2 style="text-align: center;">Generate expense raport from choosen month and year</h2>
        <span style="color: var(--accent)">
          In select <strong>"Date"</strong> down below are only dates where you actually have any data
        </span>
        <div class="d-flex justify-content-center" style="gap: 25px;">
          <div style="width: 250px;">
            <label for="date-select">Date</label>
            <select class="form-select" aria-label="Default select example" name="date-select" id="raport-date-select">
              <option value="select-default" disabled selected> --- Select month + year --- </option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" onclick="exportExcel()" style="width: 150px;">Generate</button>
      </div>
    </div>
</div>