<div id="expenses-table">
    <div class="tabs-holder">
        <button class="switch-tab active" onclick="switchTab(1)" data-tab="1" id="load-data">Expenses</button>
        <button class="switch-tab" onclick="switchTab(2)" data-tab="2">Month planner</button>
        <button class="switch-tab" onclick="switchTab(3), checkUserGoals()" data-tab="3" id="goals-tab-switch">Your goals</button>
        <button class="switch-tab" onclick="switchTab(4)" data-tab="4">Raports</button>
    </div>
    <div class="tab tab1 active">
      <div class="add-expense-holder" data-bs-toggle="modal" data-bs-target="#modalCenter">
        <div class="icon"></div>
        <div class="add-expense">Add Expense</div>
      </div>
      <ul class="expenses-list" id="expenses-list"></ul>
    </div>
    <div class="tab tab2">
      <div class="expenses-goals">
        <p style="text-align: center; color: var(--accent);"><strong>For better results you should set your goals only once in a month.</strong></p>
        <table class="table table-dark" id="goals-table" style="width: 95%;">
          <thead>
            <tr>
              <th scope="col">Goal</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody id="goals-tbody">
            <tr>
              <td style="width: 75%">I want to save <strong style="color: var(--accent);">[X PLN]</strong> at the end of the month.</td>
              <td><input type="number" class="form-control" id="end_month_saved" min="0"></td>
            </tr>
            <tr>
              <td style="width: 75%">I don't want to exceed expenses up to <strong style="color: var(--accent);">[X PLN]</strong>.</td>
              <td><input type="number" class="form-control" id="total_max_expense" min="0"></td>
            </tr>
            <tr>
              <td style="width: 75%">I don't want to exceed the daily expenses over <strong style="color: var(--accent);">[X PLN]</strong>.</td>
              <td><input type="number" class="form-control" id="daily_max_expense" min="0"></td>
            </tr>
            <tr>
              <td style="width: 75%">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Food</strong> category over <strong style="color: var(--accent);">[X PLN]</strong>.</td>
              <td><input type="number" class="form-control" id="food_max_expense" min="0"></td>
            </tr>
            <tr>
              <td style="width: 75%">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Entertainment</strong> category over <strong style="color: var(--accent);">[X PLN]</strong>.</td>
              <td><input type="number" class="form-control" id="entertainment_max_expense" min="0"></td>
            </tr>
            <tr>
              <td style="width: 75%">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Home</strong> category over <strong style="color: var(--accent);">[X PLN]</strong>.</td>
              <td><input type="number" class="form-control" id="home_max_expense" min="0"></td>
            </tr>
            <tr>
              <td style="width: 75%">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Car</strong> category over <strong style="color: var(--accent);">[X PLN]</strong>.</td>
              <td><input type="number" class="form-control" id="car_max_expense" min="0"></td>
            </tr>
          </tbody>
        </table>
        <!-- TO DO 
        add dynamic select if previous category was used do not show it again + dynamic option list -->
        <!-- <div onclick="addNextGoalRow()" class="btn btn-danger" style="display: flex; justify-content: center; gap: 5px; margin-bottom: 10px;">
          <div class="add-next-goal" title="Add next goal"></div>
          <div><span>Add next goal</span></div>
        </div> -->
        <button class="btn btn-primary" style="width: 150px;" onclick="setUserGoals()">Save you goals</button>
      </div>
    </div>
    <div class="tab tab3">
      <div class="expenses-goals">
        {% if board and goals_data['end_month_saved']: %}
        <div id="curr_end_month_saved" style="display: flex; gap: 5px;" data-val="{{goals_data['end_month_saved']}}">I want to save <strong style="color: var(--accent);">{{goals_data['end_month_saved']}} pln</strong> at the end of the month. </div>
        {% endif %}
        {% if board and goals_data['total_max_expense']: %}
        <div id="curr_total_max_expense" style="display: flex; gap: 5px;" data-val="{{goals_data['total_max_expense']}}">I don't want to exceed expenses up to <strong style="color: var(--accent);">{{goals_data['total_max_expense']}} pln</strong>.</div>
        {% endif %}
        {% if board and goals_data['daily_max_expense']: %}
        <div id="curr_daily_max_expense" style="display: flex; gap: 5px;" data-val="{{goals_data['daily_max_expense']}}">I don't want to exceed the daily expenses over <strong style="color: var(--accent);">{{goals_data['daily_max_expense']}} pln</strong>.</div>
        {% endif %}
        {% if board and goals_data['food_max_expense']: %}
        <div id="curr_food_max_expense" style="display: flex; gap: 5px;" data-val="{{goals_data['food_max_expense']}}">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Food</strong> category over <strong style="color: var(--accent);">{{goals_data['food_max_expense']}} pln</strong>.</div>
        {% endif %}
        {% if board and goals_data['entertainment_max_expense']: %}
        <div id="curr_entertainment_max_expense" style="display: flex; gap: 5px;" data-val="{{goals_data['entertainment_max_expense']}}">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Entertainment</strong> category over <strong style="color: var(--accent);">{{goals_data['entertainment_max_expense']}} pln</strong>.</div>
        {% endif %}
        {% if board and goals_data['home_max_expense']: %}
        <div id="curr_home_max_expense" style="display: flex; gap: 5px;" data-val="{{goals_data['home_max_expense']}}">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Home</strong> category over <strong style="color: var(--accent);">{{goals_data['home_max_expense']}} pln</strong>.</div>
        {% endif %}
        {% if board and goals_data['car_max_expense']: %}
        <div id="curr_car_max_expense" style="display: flex; gap: 5px;" data-val="{{goals_data['car_max_expense']}}">I don't want to exceed the expenses in the <strong style="color: var(--accent);">Car</strong> category over <strong style="color: var(--accent);">{{goals_data['car_max_expense']}} pln</strong>.</div>
        {% endif %}
        <div>Date of last goals modifications: <strong style="color: var(--accent);">{{goals_data['modified']}}</strong></div>
      </div>
    </div>
    <div class="tab tab4" id="raport_generator">
      <div class="d-flex flex-column justify-content-center align-items-center" style="gap: 25px;">
        <h2 style="text-align: center;">Generate expense raport from chosen month and year</h2>
        <span style="color: var(--accent)">
          In select <strong>"Date"</strong> down below are only dates where you actually have any data
        </span>
        <div class="d-flex justify-content-center" style="gap: 25px;">
          <div style="width: 250px;">
            <label for="date-select">Date</label>
            <select class="form-select" aria-label="Default select example" name="date-select" id="raport-date-select" style="background-color: var(--secondary);color: white;">
              <option value="select-default" disabled selected> --- Select month + year --- </option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" onclick="exportExcel()" style="width: 150px;">Generate</button>
      </div>
    </div>
</div>