{% extends 'base.html' %}
{% block body %}
<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-logo" href="#" style="width: 20%;">ExpenseEase</a>
    <div class="d-flex justify-content-center userBoardName" style="font-weight: 600; width: 20%;">{{board[1]}}</div>
    <div class="d-flex float-end align-items-center nav-inv-section">
      {% if board and users_count==1: %}
      <div class="d-flex" style="align-items: center; margin-right: 15px;">
        <div class="d-flex add-btn" data-bs-toggle="modal" data-bs-target="#joinWithCodeModal">
          <div class="user-add" title="Add user"></div>
          <span class="icon-desc">join</span>
        </div>
        <span class="divider">/</span>
        <div class="d-flex join-btn" data-bs-toggle="modal" data-bs-target="#invitationCodeModal">
          <div class="user-join"></div>
          <span class="icon-desc">invite</span>
        </div>
      </div>
      {% elif board and users_count==2: %}
      <div class="d-flex users-board-holder"> 
          <div class="d-flex">
              <div class="user-avatar users-board" title="{{second_user[0]}}"></div>
          </div>
      </div>
      {% endif %}
      <div class="d-flex align-items-center" style="border-left: 2px solid var(--secondary);">
        <div class="user-avatar"></div>
        <span>{{user['login']}}</span>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link user-settings" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#userSettings">Settings</a></li>
              <li><a class="dropdown-item" href="#">FAQ</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </ul> 
    </div>
  </div>
</nav>
{% if board: %}
{% include 'user-settings.html' %}
<div class="expenses-container">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
      <div class="graph-holder">
        <div id="chartSpark1"></div>
      </div>
      <div class="graph-holder">
        <div id="chartSpark2"></div>
      </div>
      <!-- <div class="graph-holder">
        <div id="chartSpark3"></div>
      </div> -->
      <div class="graph-holder">
        <div id="chartColumns"></div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="add-expense " data-bs-toggle="modal" data-bs-target="#modalCenter">Add Expense</button>
      <div class="graph-holder">
        <div id="chartDonut"></div>
      </div>
      {% include 'expenses-table.html' %}
    </div>
    <!-- <div class="all-expenses-box">
      <button id="load-data">Load</button>
    </div> -->
  </div>
</div>
<!-- change expense Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modalContent">
      <div class="modal-header d-flex align-items-center justify-content-center">
        <h5 class="modal-title" id="modalLongTitle">Add Expense</h5>
      </div>
      <div class="modal-body">
        <form id="add-expense-form">
          <div class="form-group">
            <label for="expense-name" class="col-form-label">Expense:</label>
            <input type="text" class="form-control" id="expense-name" required>
          </div>
          <div class="form-group">
            <label for="expense-price" class="col-form-label">Price:</label>
            <input type="number" class="form-control" id="expense-price" required>
          </div>
            <div class="form-group">
              <label for="expense-category" class="col-form-label">Category:</label>
                <select class="form-control" id="expense-category" required>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
          <div class="form-group">
            <label for="expense-date" class="col-form-label">Date:</label>
            <input type="date" class="form-control" id="expense-date" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="add-expense-form" class="btn btn-primary" data-bs-dismiss="modal" id="sub-btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- add expense Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modalContent">
      <div class="modal-header d-flex align-items-center justify-content-center">
        <h5 class="modal-title" id="modalLongTitle">Add Expense</h5>
      </div>
      <div class="modal-body">
        <form id="add-expense-form">
          <div class="form-group">
            <label for="expense-name" class="col-form-label">Expense:</label>
            <input type="text" class="form-control" id="expense-name" required>
          </div>
          <div class="form-group">
            <label for="expense-price" class="col-form-label">Price:</label>
            <input type="number" class="form-control" id="expense-price" required>
          </div>
            <div class="form-group">
              <label for="expense-category" class="col-form-label">Category:</label>
                <select class="form-control" id="expense-category" required>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
          <div class="form-group">
            <label for="expense-date" class="col-form-label">Date:</label>
            <input type="date" class="form-control" id="expense-date" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="add-expense-form" class="btn btn-primary" data-bs-dismiss="modal" id="sub-btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- invitation modal -->
<div class="modal fade" id="invitationCodeModal" tabindex="-1" aria-labelledby="invitationCodeModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invite people to your board!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Down below you can find <strong style="color:var(--accent)">invite code</strong> to your board. Pass it to your friend and together keep track of your expenses!</span>
        <input type="text" class="form-control inv-code" value="{{board[2]}}" readonly>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="copyInviteContent()" class="btn btn-primary">Copy to clipboard</button>
      </div>
    </div>
  </div>
</div>
<!-- join modal -->
<div class="modal fade" id="joinWithCodeModal" tabindex="-1" aria-labelledby="joinWithCodeModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Join to someone's board!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="gap: 15px;">
        <span>Down below enter valid 6 characters long code to join your friend's board and together keep track of your expenses!</span>
        <span style="color:red">
          <strong>Warning!</strong><br>
          When you join another user's board, your board will be irretrievably deleted along with the data
          (unless you share an array with someone else then you will only be deleted from it).
        </span>
        <input type="text" class="form-control join-code" placeholder="Enter code here" maxlength="6">
      </div>
      <div class="modal-footer">
        <button type="button" onclick="joinToBoard()" class="btn btn-primary">Join</button>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="entry-layout d-flex">
  <div class="d-flex join-box flex-column justify-content-center">
    <h1>JOIN</h1>
    <p class="box-description">If you do not want to create your own spending board, you can use a code received from a friend to <span style="color:var(--accent)">JOIN</span> his board and plan your expenses together, control your budget and set your dream goals.</p>
    <p>
      <div class="form-group d-flex flex-column justify-content-center" style="align-items: center;">
        <label for="code"><strong style="color:var(--accent)">Enter code from your friend</strong><br>(the code should be 6 characters long)</label>
        <input id="givenBoardCode" style="width: 100px; text-align: center; margin-top: 10px;" type="text" name="code" class="form-control" placeholder="Enter code here" maxlength="6">
      </div>
    </p>
    <button onclick="starterJoinBoard()" type="button" class="btn btn-primary btn-lg" style="margin-top:20px">JOIN</button>
  </div>
  <div class="d-flex create-box flex-column justify-content-center">
    <h1>CREATE</h1>
    <p class="box-description"><span style="color:var(--accent)">CREATE</span> your spending dashboard that will help you plan your future as well as current expenses, control your budget, set your dream goals as well as compare the results of previous months.</p>
    <button onclick="createUserBoard()" type="button" class="btn btn-primary btn-lg">CREATE</button>
  </div>
</div>
{% endif %}
<script>
  const loadBtn = document.getElementById("load-data");
  const modal = document.getElementById("modalCenter");
  const addExpenseForm = document.getElementById("add-expense-form");

  function showAlertInfo(msg,category,modalId){
    var navbar = document.getElementById('navbar');
    var alertBox = document.getElementById('notification-box'); 
    var html = '<div id="notification-box" class="alert alert-'+category+' alert-dismissible" role="alert">'+
                '<button type="button" class="btn-close notification-close" data-bs-dismiss="alert" aria-label="Close"></button>'+
                '<strong>'+msg+'</strong>'+
                '</div>';

    if(alertBox){
      alertBox.remove();
    }
    if(modalId){
      let myModalEl = document.getElementById(modalId);
      let modal = bootstrap.Modal.getInstance(myModalEl);
      modal.hide();
    }
    navbar.insertAdjacentHTML("afterend", html);
  }

  function switchTab(tab_nr){
    var allTabs = document.querySelectorAll('.switch-tab');
    var allTabsContent = document.querySelectorAll('.tab');
    // console.log(allTabs);
    for (const tab of allTabs) {
      tab.classList.remove('active');
    }
    for (const tab of allTabsContent) {
      tab.classList.remove('active');
    }

    var activateTab = document.querySelector('[data-tab="'+tab_nr+'"]');
    activateTab.classList.add('active');

    var activateTabContent = document.querySelector('.tab'+tab_nr+'');
    activateTabContent.classList.add('active');
  }

  function starterJoinBoard(){
    var givenBoardCode = document.getElementById('givenBoardCode').value;
    joinUserBoard(givenBoardCode);
  }

  function joinUserBoard(code){
    var data = {boardCode: code}

    fetch("/joinBoard", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(data),
      cache: "no-cache"
    }).then(() => {
      showAlertInfo("Finding your friend's expenses board... After 5 second page will be reloaded!",'success',null);
      setTimeout(() => {
        window.location.reload();
      }, "5000");
    });
  }

  function createUserBoard(){
    fetch("/createBoard", {
      method: "GET",
      headers: {"Content-Type": "application/json"},
    }).then(() => {
      showAlertInfo('Creating your expenses board... After 5 second page will be reloaded!','success',null);
      setTimeout(() => {
        window.location.reload();
      }, "5000");
    });
  }
</script>
{% if board: %}
<script src="{{url_for('static', filename='js/board-control.js')}}"></script>
{% endif %}
{% endblock %}