{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-logo" href="#">ExpenseEase</a>
      <div class="d-flex float-end align-items-center nav-inv-section">
        {% if board: %}
        <div class="d-flex add-btn">
          <div class="user-add" title="Add user"></div>
          <span class="icon-desc">join</span>
        </div>
        <span class="divider">/</span>
        <div class="d-flex join-btn">
          <div class="user-join"></div>
          <span class="icon-desc">invite</span>
        </div>
        {% endif %}
        <div class="d-flex align-items-center" style="border-left: 2px solid var(--secondary); margin-left: 15px;">
          <div class="user-avatar"></div>
          <span>{{user['login']}}</span>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link user-settings" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">FAQ</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        </ul> 
      </div>
    </div>
</nav>
{% if board: %}
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
      <div class="graph-holder">
        <div id="chartSpark1"></div>
      </div>
      <div class="graph-holder">
        <div id="chartSpark2"></div>
      </div>
      <div class="graph-holder">
        <div id="chartSpark3"></div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="graph-holder">
        <div id="chartColumns"></div>
      </div>
      <button type="button" class="add-expense " data-bs-toggle="modal" data-bs-target="#modalCenter">Add Expense</button>
      <div class="graph-holder">
        <div id="chartDonut"></div>
      </div>
    </div>
  </div>
{% else %}
  <div class="entry-layout d-flex">
    <div class="d-flex join-box flex-column justify-content-center">
      <h1>JOIN</h1>
      <p class="box-description">If you do not want to create your own spending board, you can use a code received from a friend to <span style="color:var(--accent)">JOIN</span> his board and plan your expenses together, control your budget and set your dream goals.</p>
      <p>
        <div class="form-group d-flex flex-column justify-content-center" style="align-items: center;">
          <label for="code"><strong style="color:var(--accent)">Enter code from your friend</strong><br>(the code should be 6 characters long)</label>
          <input id="givenBoardCode" style="width: 100px; text-align: center; margin-top: 10px;" type="text" name="code" class="form-control" placeholder="Enter code here" maxlength="6">
        </div>
      </p>
      <button id="join_board_btn" type="button" class="btn btn-primary btn-lg" style="margin-top:20px">JOIN</button>
    </div>
    <div class="d-flex create-box flex-column justify-content-center">
      <h1>CREATE</h1>
      <p class="box-description"><span style="color:var(--accent)">CREATE</span> your spending dashboard that will help you plan your future as well as current expenses, control your budget, set your dream goals as well as compare the results of previous months.</p>
      <button id="create_board_btn" type="button" class="btn btn-primary btn-lg">CREATE</button>
    </div>
  </div>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="expense-name" class="col-form-label">Expense:</label>
            <input type="text" class="form-control" id="expense-name">
          </div>
          <div class="form-group">
            <label for="expense-price" class="col-form-label">Price:</label>
            <input type="number" class="form-control" id="expense-price">
          </div>
            <div class="form-group">
              <label for="categorySelect">Example select</label>
                <select class="form-control" id="categorySelect">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('create_board_btn').addEventListener('click', function(e){
    e.preventDefault();
    createUserBoard()
  });

  document.getElementById('join_board_btn').addEventListener('click', function(e){
    e.preventDefault();
    joinUserBoard();
  });

  function joinUserBoard(){
    var givenBoardCode = document.getElementById('givenBoardCode').value;
    var data = {
      boardCode: givenBoardCode
    }
    const url1 = {{ url_for("joinBoard")|tojson }};
    fetch(url1, {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(data),
      cache: "no-cache"
    }).then(() => {
      //TO DO
      //add flash message that succesfully joined and after let's say 5 sec page will be reloaded
      // window.location.reload();
    });
  }

  function createUserBoard(){
    const url = {{ url_for("createBoard")|tojson }};
    fetch(url, {
      method: "GET",
      headers: {"Content-Type": "application/json"},
    }).then(() => {
      //TO DO
      //add flash message that succesfully created and after let's say 5 sec page will be reloaded
      window.location.reload();
    });
  }
</script>
<script>
    var optionsColumns = {
        chart: {
            type: 'bar'
        },
        series: [{
            name: 'sales',
            data: [30,40,45,50,49,60,70,91,125]
        }],
        xaxis: {
            categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
        },
        title: {
          text: 'Example title',
          offsetX: 0,
          style: {
            fontSize: '24px',
            color:'#FFFFFF',
          }
        },
    }

    var optionsDonut = {
          series: [44, 55, 41, 17, 15],
          chart: {
            type: 'donut',
          },
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }],
          title: {
            text: 'Example title',
            offsetX: 0,
            style: {
              fontSize: '24px',
              color:'#FFFFFF',
            }
          },
        };

        var optionsSpark3 = {
          series: [{
          data: [30,40,45,50,49,60,70,91,125]
        }],
          chart: {
          type: 'area',
          height: 160,
          sparkline: {
            enabled: true
          },
        },
        stroke: {
          curve: 'straight'
        },
        fill: {
          opacity: 0.3
        },
        xaxis: {
          crosshairs: {
            width: 1
          },
        },
        yaxis: {
          min: 0
        },
        title: {
          text: '$135,965',
          offsetX: 0,
          style: {
            fontSize: '24px',
            color:'#FFFFFF',
          }
        },
        subtitle: {
          text: 'Profits',
          offsetX: 0,
          style: {
            fontSize: '14px',
            color:'#F5A623',
          }
        }
        };

  document.getElementById("modalCenter").addEventListener("shown.bs.modal", function (event) {
  });
    var chartSpark1 = new ApexCharts(document.querySelector("#chartSpark1"), optionsSpark3);
    var chartSpark2 = new ApexCharts(document.querySelector("#chartSpark2"), optionsSpark3);
    var chartSpark3 = new ApexCharts(document.querySelector("#chartSpark3"), optionsSpark3);
    var chartColumns = new ApexCharts(document.querySelector("#chartColumns"), optionsColumns);
    var chartDonut = new ApexCharts(document.querySelector("#chartDonut"), optionsDonut);

    chartSpark1.render();
    chartSpark2.render();
    chartSpark3.render();
    chartColumns.render();
    chartDonut.render();

</script>
{% endblock %}